{% extends "base.html" %}
{% load static %}

{% block title %}Listar Agencias{% endblock title %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'demo/crud.css' %}">
{% endblock custom_styles %}


    {% block content %}

    <main class="col-md-12 mx-auto">
        <h2 class="subtitle">{{ user.username }} - Aqui tienes la lista de tus agencias</h2>
        <span class="aux-btns">
            <a href="{% url 'list_agency' %}">Ver todas</a>
            <a href="{% url 'register_agency' %}">Añadir</a>
        </span>
        <ul class="list">
            {% for agency in agencies %}
                <li>
                    <span>{{ agency.name }}</span>
                    <span> 
                        <a href="{% url 'view_agency' id=agency.id %}" class="btn btn-detail">Ver</a>
                        <a href="{% url 'edit_agency' id=agency.id %}" class="btn btn-edit">Editar</a>
                        <a href="{% url 'confirm_delete_agency' id=agency.id %}" class="btn btn-delete">Borrar</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </main>

    {% endblock content %}
</div>