{% load static %} {% load i18n %}

<nav class="header-component">
    <div class="left-container">
        <div class="matu-logo"><a href="{% url 'home' %}">Matu</a></div>
        <div class="button-container">
            <button type="button" class="left-button">
                <img
                    class="experiences-icon"
                    alt="about-icon"
                    src="{% static 'img/experiences-icon.svg' %}"
                />
                <div class="button-text">
                    <a href="{% url 'home' %}">Experiencias</a>
                </div>
            </button>

            <button type="button" class="left-button">
                <img
                    class="about-icon"
                    alt="about-icon"
                    src="{% static 'img/about-icon.svg' %}"
                />
                <div class="button-text">
                    <a href="{% url 'home' %}">About us</a>
                </div>
            </button>
        </div>
    </div>

    <div class="right-container">
        <!-- Hamburger Menu Icon -->
        <input id="toggle" type="checkbox" />
        <label class="hamburger-menu" for="toggle">
            <span class="top"></span>
            <span class="meat"></span>
            <span class="bottom"></span>
        </label>

        <div class="menu-items">
            {% if user.is_authenticated %}
            <a href="account/register_agency" class="right-button"
                >Enlista tu agencia</a
            >
            {% else %}
            <!-- Registrarse -->
            <a href="{% url 'account_signup' %}" class="right-button"
                >{% trans "Sign Up" %}</a
            >
            <!-- Iniciar Sesion -->
            <a href="{% url 'account_login' %}" class="right-button"
                >{% trans "Sign In" %}</a
            >
            {% endif %}
        </div>
    </div>
</nav>

