{% load static %} {% load i18n %}

<header
    id="header-component"
    class="navbar navbar-expand-lg bg-body-tertiary  pt-10"
>
    <a class="matu-logo navbar-brand" href="{% url 'home' %}">Matu</a>

    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#toggleNavBar"
        aria-controls="toggleNavBar"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="right-container collapse navbar-collapse" id="toggleNavBar">
        <div class="left-container">
            <ul class="left-container navbar-nav m-auto d-flex gap-3">
                <li class="nav-item">
                    <div class="left-button">
                        <img
                            class="header-icon experiences-icon"
                            alt="about-icon"
                            src="{% static 'img/experiences-icon.svg' %}"
                        />
                        <a class="button-text" aria-current="page" href="/"
                            >Experiencias</a
                        >
                    </div>
                </li>
                <li class="nav-item">
                    <div class="left-button">
                        <img
                            class="header-icon about-icon"
                            alt="about-icon"
                            src="{% static 'img/about-icon.svg' %}"
                        />

                        <a class="button-text" aria-current="page" href="/demo"
                            >About us</a
                        >
                    </div>
                </li>
            </ul>
        </div>

        <ul class="button-container navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register_agency' %}"
                    ><strong>Registra tu Agencia</strong></a
                >
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}"
                    >{% trans "Sign Out" %}</a
                >
                <!-- Cerrar sesion -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_profile' %}">
                    {% if logo_url %}
                    <strong>{{ user.username|upper }}</strong>
                    <img
                        src="{{ logo_url }}"
                        alt="mdo"
                        width="32"
                        height="32"
                        class="rounded-circle"
                    />
                    {% else %}
                    <strong>{{ user.username|upper }}</strong>
                    {% endif %}
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a
                    class="right-button nav-link"
                    href="{% url 'account_signup' %}"
                    >{% trans "Sign Up" %}</a
                >
                <!-- Registrarse -->
            </li>
            <li class="nav-item">
                <a
                    class="right-button nav-link"
                    href="{% url 'account_login' %}"
                    >{% trans "Sign In" %}</a
                >
                <!-- Iniciar Sesion-->
            </li>
            {% endif %}
        </ul>
    </div>
</header>
