<section id="features">
    <div class="feature-row">
        <div class="feature-image">
            <img
                class="glass-image"
                src="../../static/img/landing/landing-glass.png"
                alt="Feature 1 Image"
            />
        </div>
        <div class="feature-text">
            <h2>Explora, Compara, Decide.</h2>
            <p>
                Escoge entre una amplia gama de agencias y paquetes disponibles
                para ti.
            </p>
        </div>
    </div>

    <div class="feature-row">
        <div class="feature-text">
            <h2>Reduce tu tiempo de búsqueda.</h2>
            <p>
                Encuentra la mejor experiencia al mejor precio de forma rápida y
                sencilla.
            </p>
        </div>
        <div class="feature-image">
            <img
                class="ticket-image"
                src="../../static/img/landing/landing-ticket.png"
                alt="Feature 2 Image"
            />
        </div>
    </div>

    <div class="feature-row">
        <div class="feature-image">
            <img
                class="landing-shield"
                src="../../static/img/landing/landing-shieldplane.png"
                alt="Feature 3 Image"
            />
        </div>
        <div class="feature-text">
            <h2>Viaja con confianza.</h2>
            <p>
                Cada agencia verificada para que solo te preocupes en disfrutar
                cada momento.
            </p>
        </div>
    </div>

    <div class="feature-row">
        <div class="feature-text">
            <h2>Despídete de la competencia desleal.</h2>
            <p>
                Un juego limpio para todas las agencias de viaje, sin espacio
                para lo informal.
            </p>
        </div>
        <div class="feature-image">
            <img
                class="positions-image"
                src="../../static/img/landing/landing-positions.png"
                alt="Feature 4 Image"
            />
        </div>
    </div>

    <div class="feature-row" style="gap: 10%">
        <div class="feature-image">
            <img
                class="international-image"
                src="../../static/img/landing/landing-international.png"
                alt="Feature 5 Image"
            />
        </div>
        <div class="feature-text">
            <h2>Súmate al cambio digital.</h2>
            <p>
                El mundo de hoy es virtual. No te quedes atrás y obtén
                exposición a clientes como nunca antes.
            </p>
        </div>
    </div>

    <div class="feature-row">
        <div class="feature-text">
            <h2>Ahorra costos y crece con nosotros.</h2>
            <p>
                Con tu agencia en nuestro marketplace no necesitas un local para
                brillar.
            </p>
        </div>
        <div class="feature-image">
            <img
                class="growth-image"
                src="../../static/img/landing/landing-growth.png"
                alt="Feature 6 Image"
            />
        </div>
    </div>
</section>
