{% load static %}

<main class="main-component container pt-5 vh-100">
    <div class="main-container p-4 p-md-5 mb-4 row vh-100">
        <div class="slogan-container col-md-6 px-0">
            <h1 class="display-4 slogan-title">
                Revolucionando la forma en la que planeas y encuentras tus paquetes de viaje y experiencias
            </h1>
            <h2 class="slogan-subtitle">
                "Transformando tus viajes en experiencias inolvidables. Matu, donde cada destino es una historia por descubrir, cada paquete es una aventura personalizada, y cada viaje se convierte en un recuerdo imborrable."
            </h2>
            <p class="cta-btns">
                <a href="{% url 'register_agency' %}" class="btn btn-cta_register_agency">Join the waitlist</a>
                <a href="{% url 'demo' %}" class="btn btn-cta_search">Find your agency</a>
            </p>
        </div>
        <div class="image-container col-md-6 px-0">
            <div class="landing-app_image">
                <img
                    class="app-image"
                    src="{% static 'img/landing/landing-app.png' %}"
                    alt="Matu Appe"
                />
            </div>
        </div>
    </div>
</main>