@font-face {
    font-family: Motiva-Light;
    src: local("Motiva-Sans-Light"),
        url("../fonts/Motiva-Sans-Light.ttf") format("truetype");
}

@font-face {
    font-family: Motiva-Bold;
    src: local("Motiva-Sans-Bold"),
        url("../fonts/Motiva-Sans-Bold.ttf") format("truetype");
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: Motiva-Light;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 3000px;
    width: 100vw;
    padding-right: 10%;
    padding-left: 10%;
    font-family: Motiva-Light;
}
