:root {
    --primary-color: #fd9f48;
    --secondary-color: #ffb066;
    --text-color: #fff;
    --button-radius: 24px;
    --hover-color: #ffc48d;
}

/* Header */
#header-component {
    background-color: var(--primary-color) !important;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 3000px;
}

/* Left Container */
.left-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Matu Logo */
.matu-logo {
    position: relative;
    font-family: Motiva-Bold;
    color: var(--text-color);
    font-size: 2.813rem;
    transition: none;
    margin-right: 5%;
}

.matu-logo:hover {
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: #e1e1e1;
}

/* Buttons */
button {
    cursor: pointer;
}

button:hover {
    transition: all 0.5s ease;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Button Text */
.button-text {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
}

/* Left Button */
.left-button {
    width: 10rem;
    height: 3.3rem;
    padding: 0 0.81rem;
    border: 1px solid var(--text-color);
    border-radius: 24px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.63rem;
    margin-top: 0 !important;
}

.left-button:hover {
    background-color: var(--hover-color);
}

/* Right Button */
.right-button {
    width: 9em;
    height: 3.5rem;
    border: 1px solid var(--primary-color);
    background-color: var(--text-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    text-decoration: none;
    border-radius: 10px;
}

.right-button:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
}

.right-container {
    display: flex;
    justify-content: space-between;
}

/* Media Queries */
@media only screen and (max-width: 760px) {
    .right-button {
        height: 2.8rem;
        font-size: 0.9rem;
    }

    .left-button {
        width: 9rem;
        height: 3rem;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 594px) {
    .right-container {
        flex-direction: column;
        align-items: start;
    }

    .button-container {
        padding-left: 1% !important;
        margin-top: 2%;
    }

    .left-button {
        width: 6.9rem !important;
        padding: 0;
    }

    .header-icon {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .header-component {
        justify-content: space-between;
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media only screen and (max-width: 670px) {
    .button-container {
        padding-left: 3%;
    }

    .left-button {
        width: 8.5em;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 991px) {
    .right-button {
        width: 6.8rem;
    }
}
