
.landing-app_image {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%; /* Asegura que la imagen ocupe el 100% del ancho del contenedor */
}
.landing-app_image img {
    margin-left: 10rem;
    width: 34rem;
    height: 30rem;
  }
.rotate-90 {
    transform: rotate(90deg);
    padding-top: 10px;
    margin-top: 15px;
    width: 400px;
    height: 500px;
    transform-origin: 50% 50%; 
  }