{% extends "demo/demo_base.html" %}

{% load static %}


{% block title %}Demo{% endblock title %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'demo/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'demo/slider.css' %}" />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
    />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
{% endblock custom_styles %}


{% block content %}

<!-- ======= Hero Section ======= -->
{% load i18n %}
<div class="desktop">
    <div class="desktop1">
        <div class="body">
            <div class="header-component">
                <div class="left-side">
                    <div class="logo matu-logo"><a href="{% url 'home' %}">Matu</a></div>
                    <button type="button" class="about-us">
                        <img
                            class="about-icon"
                            alt="about-icon"
                            src="{% static 'img/about-icon.svg' %}"
                        />
                        <div class="matu-logo"><a href="{% url 'home' %}">About us</a></div>
                    </button>
                    <button type="button" class="experiences">
                        <img
                            class="experiences-icon"
                            alt="about-icon"
                            src="{% static 'img/experiences-icon.svg' %}"
                        />
                        <div class="matu-logo">Experiencias</div>
                    </button>
                </div>

                {% if user.is_authenticated %}
                    <div class="right-side">
                        <button type="button" class="list-agency" href="/account/register_agency">
                            <a href="account/register_agency">Enlista tu agencia</a>
                        </button>
                    </div>
                {% else %}
                    <div class="right-side">
                        <!-- Registrarse -->
                        <button class="register-button matu">
                            <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                        </button>
                        <!-- Fin Registrarse -->
                        <!-- Iniciar Sesion-->
                        <button class="login-button matu">
                            <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                        </button>
                        <!-- Fin Iniciar Sesion-->
                    </div>
                {% endif %}

            </div>
            
            <div class="banner-component">
                <div class="slogan">
                    <b class="banner-slogan">Encuentra tus próximos destinos</b>
                    <div class="banner-text">Busca destinos turísticos ...</div>
                </div>
            </div>

            <div class="searchbox-component">
                <div class="searchbox">
                    <input class="where" placeholder="Explora Destinos" />
                    <input class="date" placeholder="Agrega Fechas" />
                    <input class="who" placeholder="¿Cuantos?" />
                    <button class="search-icon">
                        <img
                            class="circle-container-icon"
                            alt=""
                            src="{% static 'img/mag-glass-icon.svg' %}"
                        />
                    </button>
                </div>
            </div>

            <div class="explore-container">
                <div class="title">Explora Perú</div>
                <div class="content">
                    Estos destinos populares tienen mucho que ofrecer
                </div>
            </div>

            <div class="slider-container">
                <div class="slider">
                    {% for package in list_packages %}
                    <div class="card">
                        <div class="card-image"></div>
                        <div class="card-content">{{ package.package_name }}</div>
                        <div class="card-content">{{ package.total_packages }} Paquetes</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".slider").slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            prevArrow: $(".prev-btn"),
            nextArrow: $(".next-btn"),
        });
    });
</script>
{% endblock content %}
