{% extends "demo/demo_base.html" %}

{% load static %}

{% block title %} Home {%endblock title %} 

{% block custom_styles %}
<link rel="stylesheet" href="{% static 'demo/slider.css' %}" />
<link rel="stylesheet" href="{% static 'demo/banner.css' %}" />
<link rel="stylesheet" href="{% static 'demo/searchbox.css' %}" />

{% endblock custom_styles %} 
{% block content %}
<div class="banner-component">
    <div class="slogan">
        <b class="slogan-title">Encuentra tus próximos destinos</b>
        <div class="slogan-text">Busca destinos turísticos ...</div>
    </div>
</div>

<div class="content-container">
    <div class="searchbox-component">
        <div class="searchbox">
            <input class="where" placeholder="Explora Destinos" />
            <input class="date" placeholder="Agrega Fechas" />
            <input class="who" placeholder="¿Cuantos?" />
            <button class="search-icon">
                <img
                    class="circle-container-icon"
                    alt=""
                    src="{% static 'img/mag-glass-icon.svg' %}"
                />
            </button>
        </div>
    </div>

    <div class="explore-container">
        <div class="title">Explora Perú</div>
        <div class="content">
            Estos destinos populares tienen mucho que ofrecer
        </div>
    </div>

    <div class="slider-container">
        <div class="slider">
            {% for package in list_packages %}
            <div class="card">
                <div class="card-image"></div>
                <div class="card-content">{{ package.package_name }}</div>

                <div class="card-content">
                    {{ package.total_packages }} Paquetes
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock content %}
{% block custom_scripts %}
<script>
    $(document).ready(function () {
        $(".slider").slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            prevArrow: $(".prev-btn"),
            nextArrow: $(".next-btn"),
        });
    });
</script>
{% endblock custom_scripts %}
