{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<!-- ======= Hero Section ======= -->

<!-- End Hero -->

<main id="main">

</main>

  {% for photo_url in photo_urls %}
    <card class="col-md-4">
      <img src="{% url 'photo' %}" alt="">
      <img src="{% url 'photo' %}" alt="">
    </card>
  {% endfor %}

{% endblock content %}

{% block features %}
  {% include "partials/features.html" %}
{% endblock features %}



{% block footer %}
  {% include "partials/footer.html" %}
{% endblock footer %}