{% extends "base.html" %}

{% load static %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'demo/main.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'demo/footer.css' %}">
{% endblock custom_styles %}

{% block title %}Home{% endblock title %}

{% block content %}
<!-- ======= Hero Section ======= -->

<!-- End Hero -->

<main id="main">

</main>

  {% for photo_url in photo_urls %}
    <card class="col-md-4">
      <img src="{% url 'photo' %}" alt="">
      <img src="{% url 'photo' %}" alt="">
    </card>
  {% endfor %}

{% endblock content %}

{% block main %}
  {% include "partials/main.html" %} 
{% endblock main %}

{% block features %}
  {% include "partials/features.html" %}
{% endblock features %}



{% block footer %}
  {% include "partials/footer.html" %}
{% endblock footer %}