{% extends 'base.html' %}

{% block content %}

    <div class="col-md-8 mx-auto">
        <div class="container text-center">
            <span class="aux-btns back text-center">
                <a href="{% url 'blog' %}">Volver Atrás</a>
            </span>
            <h2>{{ post.title }}</h2>
            <h3 class="my-2 h5 text-muted">{{ post.date|date:'F jS Y' }}</h3>
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid" style="max-height: 10.5rem; width: 45%;">
        </div>
        <div class="my-4">
            <p>{{ post.description|safe }}</p>
        </div>
    </div>

{% endblock content %}