:root {
    --primary-color: #f7ad45;
    --secondary-color: #ffb066;
    --text-color: #fff;
    --button-radius: 24px;
    --hover-color: #ffc48d;
}

#footer {
    background: var(--primary-color);
    color: #fff;
    padding: 30px 0;
}

.footer-top {
    padding-bottom: 30px;
}

.footer-top h3 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: Motiva-Bold;
}

.footer-top p {
    font-size: 1.3rem;
    line-height: 24px;
    font-family: Motiva-Light;
    margin-bottom: 2%;
}

.footer-newsletter input[type="email"] {
    padding: 10px;
    width: 200px;
    border: none;
    margin-bottom: 10px;
}

.footer-newsletter input[type="submit"] {
    background: #fab800;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.footer-newsletter {
    margin-bottom: 2%;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.social-links a {
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}

.social-links a:hover {
    color: #fab800;
}

.footer-bottom {
    padding-top: 20px;
    border-top: 1px solid #ffffff;
}

.footer-bottom .copyright,
.footer-bottom .credits {
    font-size: 14px;
}

.footer-bottom .credits a {
    color: #FFFF;
    text-decoration: none;
}

.footer-bottom .credits a:hover {
    color: #fff;
    font-weight: 600;
}

