/* Add space between the header and the text */
.slogan-title {
    margin-top: 145px; /* Adjust the value to add more or less space */
    font-size: 100px;
    text-align: center;
}

/* Style the slogan subtitle */
.slogan-subtitle {
    font-size: 17px; /* You can adjust the font size as needed */
    margin-top: 30px; /* Add space below the title */
}

/* Style the "Get Started" and "Watch Video" buttons */
.btn-get-started,
.btn-watch-video {
    margin-top: 30px; /* Add space below the subtitle */
}

.slogan-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-image {
    display: block;
    margin: 0 auto; /* Centers horizontally */
    max-width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintains aspect ratio */
}

/* Styling for the new text */
.text-medium-new {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px; /* Add space below the text */
    margin-left: 45px;
    
}

/* Styling for the new image */
.img-fluid-new {
    max-width: 100%;
    height: auto;
}
